
.footer_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0px;
    font-family: $font_caviar;
    // background: url('../../image/bg_footer.png') no-repeat;
    // background-size: cover;
    background: #09171e;
    
    div {
        margin: 10px 15px;
    }
}

.footer_logo {
    max-width: 70px;
}

.footer_contact {
    color: #fff;
}

.footer_social {
    display: flex;
    

    .link_social {
        width: 40px;
        height: 40px;
        margin: 0px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;

        &:hover {
            background: rgb(190, 190, 190);
            transition: 0.3s;
        }

        i {
            font-size: 1.5rem;
          
        }
    }
}

