// @media (min-width: 576px) { ... }
// @media (min-width: 768px) { ... }
// @media (min-width: 992px) { ... }
// @media (min-width: 1200px) { ... }
.header {
    position: relative;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    // overflow: hidden;
    color: #fff;
    background: #09171e;
    
}

.bar_navigation {
    display: flex;

}

.bar_navigation {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 60px;
}

.nav {
    display: none;
    position: absolute;
    top: 80px;
    right: -300px;
    z-index: 500;
    width: 300px;
    height: 350px;
    padding-right: 45px;
    background: #1b5462;
    transition: right 0.3s;
    .item_nav {
        display: block;
        padding-left: 15px;
        margin-top: 15px;
        font-family: $font_caviar;
        font-size: 1.2rem;

        &:hover {
            color: rgb(219, 219, 219);
            transition: 0.3s;
        }
    }
}

.nav.open {
    right: 0px;
    display: block;
}

.btn_menu {
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {

    .btn_menu {
        display: none;
      
    }

    .nav {
        display: block;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
        height: auto;
        padding-right: 0px;
        background: transparent;

        .item_nav {
            display: inline-block;
            margin: 0px 15px;
            padding-left: 0px;
        }

        .active_link {
            border-bottom: 1px solid #fff;  
        }
    }

    .nav.open {
        right: 0px;
        display: block;
    }
}

